@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

main {
    padding: 16px;
}

footer {
    padding: 24px 0px 24px 0px;
}

img {
    display: block;
    margin: 0 auto;
    height: 200px;
}

nav {
    border: 1px solid black;
    padding: 16px
}

.recipe-listings-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    /*added grid-row-gap- and removed box:sizing: border-box*/
    grid-row-gap: 20px;



    /*
    box-sizing: border-box;
    width: 1000px;
    height: 680px;
    margin: 20px 20px;
    */

}

.a-recipe-listing-grid {
    display: grid;
    grid-template-columns: 1fr;

    box-sizing: border-box;
    width: 300px;
    height: 300px;
    margin: 10px 10px 0px 10px;

    box-shadow: 5px 5px 5px #919151;
    border: 1px solid #919151;

}

.ingredient-table tbody tr:nth-child(even) {
    background-color: lightgray;

}

.a-recipe-listing-grid h3, div {
    text-align: center;
}

main h1 {
    color: #146152;
    text-shadow: #00635A 1px 1px 2px;
}

a:link, a:visited {
    text-decoration: none;
    color: #146152

}

nav {
    background-color: #FF5A33;
    border-bottom-color: #146152;
    transition: 1s;

}

nav:hover {
    background-color: #919151 ;
}

#navlink1, #navlink2 {
    color: white;

}

footer {
    padding: 32px;
    background-color: #B4CF66;
}
